* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAV */

header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

header > div > img {
    width: 50px;
}

.logo {
    /* display: flex; */
    width: 10%;
}

header > nav {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style: none;
    padding: 20px;
    gap: 5em;
}

a {
    color: black;
    font-size: 13px;
    text-decoration: none;
}

.button {
    display: flex;
    gap: 1.5em;
    width: 15%;
    cursor: pointer;
}

.button > img {
    width: 30px;
}

.menu {
    display: none;
    width: 30px;
}

@media (max-width: 700px) {
    header > nav {
        display: none;
    }
    .menu {
        display: block;
    }
}

/* IMG-PRINCIPAL */

.text-principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
}

.text-principal > img {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.text-principal > h1 {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
    color: rgb(255, 255, 255);
    align-content: center;
    min-width: 450px;
    max-width: 550px;
    gap: 200px;
}

.text-principal > p {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    color: white;
    z-index: 1;
}


/* #grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.text-principal {
    padding: 20px;
    font-size: 1.3em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: rgb(255, 255, 255);
    z-index: 1;
    min-width: 450px;
    max-width: 550px;
}

.img-principal {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    object-fit: cover;
    background-position: center;
    overflow-x: hidden;
    width: 100%;
} */



/* SEGUNDAS IMAGENES */


#flex-container-dos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

#flex-container-dos > div {
    flex-basis: 550px;
    flex-grow: 1;
    background-color: rgba(84, 83, 83, 0.108);
    border-radius: 20px;
}

.img-uno, .img-dos, .img-tres, .img-cuatro {
    padding: 20px;
}


div > img {
    width: 100%;
}

/* #flex-container-dos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    overflow: hidden;
}

.img-uno {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(84, 83, 83, 0.108);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img-uno > img {
    min-width: 490px;
    max-width: 500px;
}

.img-dos {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(84, 83, 83, 0.108);
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img-dos > img {
    min-width: 400px;
    max-width: 450px;
}

.img-tres {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(84, 83, 83, 0.108);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.img-tres > img {
    min-width: 400px;
    max-width: 600px;
}

.img-cuatro {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(84, 83, 83, 0.108);
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.img-cuatro > img {
    min-width: 400px;
    max-width: 450px;
} */



/* #grid-container-dos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.img-uno {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: blue;
    justify-self: center;
    align-self: center;
}

.txt-uno {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    padding: 20px;
    font-size: larger;
    z-index: 1;
}

.img-dos {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; 
    background-color: red;
    justify-self: center;
    align-content: flex-end
}

.txt-dos {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 15px;
    font-size: larger;
    z-index: 1;
}

.img-tres {
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: violet;
}

.txt-tres {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 1;
    padding: 15px;
    font-size: larger;
    align-self: flex-start;
}

.img-cuatro{ 
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: chartreuse;
    justify-self: center;
    align-self: center;
}

.txt-cuatro {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 1;
    padding: 15px;
    font-size: larger;
} */