* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAV */

header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

header > div > img {
    width: 50px;
}

.logo {
    width: 10%;
}

header > nav {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style: none;
    padding: 20px;
    gap: 5em;
}

a {
    color: black;
    font-size: 13px;
    text-decoration: none;
}

.button {
    display: flex;
    gap: 1.5em;
    width: 15%;
    cursor: pointer;
}

.button > img {
    width: 30px;
}

.menu {
    display: none;
    width: 30px;
}

@media (max-width: 700px) {
    header > nav {
        display: none;
    }
    .menu {
        display: block;
    }
}

/* IMG-PRINCIPAL */

.text-principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
}

.text-principal > img {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.text-principal > h1 {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
    color: rgb(255, 255, 255);
    align-content: center;
    min-width: 450px;
    max-width: 550px;
    gap: 200px;
}

.text-principal > p {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    color: white;
    z-index: 1;
}

/* SEGUNDAS IMAGENES */


#flex-container-dos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

#flex-container-dos > div {
    flex-basis: 550px;
    flex-grow: 1;
    background-color: rgba(84, 83, 83, 0.108);
    border-radius: 20px;
}

.img-uno, .img-dos, .img-tres, .img-cuatro {
    padding: 20px;
}


div > img {
    width: 100%;
}

.parrafo-tres > h2 {
    font-size: 4.5em;
    margin: 20px;
}

.parrafo-tres > p {
    font-size: 1.5em;
    margin: 20px;
}

@media (max-width: 500px) {
    .parrafo-tres {
        display: flex;
        flex-direction: column;
        align-items: center;
}
    .parrafo-tres > h2 {
        padding-left: 1em;
        font-size: 3em;
}
    .parrafo-tres > p {
        font-size: 1.2em;
    }
    
}

.class1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.class1 > img {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.class1 > h2 {
    margin: 20px;
    font-size: 2.5em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 1;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 550px;
    background-color: rgba(171, 171, 171, 0.57);
    border-radius: 1.5em;
    padding: 25px;
}

.class1 > button {
    margin: 25px;
    font-size: 0.9em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    align-self: center;
    border: 1px solid white;
    border-radius: 2em;
    padding: 10px;
    min-width: 250px;
    max-width: 550px;
}

@media (max-width: 830px) {
    .class1 > h2 {
        font-size: 2.1em;
        margin: 5px;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
        padding-left: 1.2em;
    }

    .class1 > button {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        align-self: center;
    }
}